---
import Container from "./Container.astro"
---

<div class="text-white" id="blog">
  <Container>
    <!-- New Section: Blog -->
    <div class="mt-20 p-8 border border-[#673ab7]/30 rounded-3xl bg-[#1a237e] shadow-2xl shadow-[#673ab7]/20">
      <h6 class="text-lg font-medium text-[#E6E6FA]">Our Blog</h6>
      <p class="text-white mt-4">A blog section featuring insightful articles about various courses tailored for young individuals aspiring to become professional doctors, offering guidance, resources, and updates on medical career opportunities.</p>
    </div>
  </Container>
</div>
