import Container from "./Container.astro";

---

<footer class="py-20 md:py-40 bg-dark-blue">
    <Container>
        <div class="m-auto md:w-10/12 lg:w-8/12 xl:w-6/12">
            <div class="flex flex-wrap items-center justify-between md:flex-nowrap">
                <div class="m-auto mt-16 w-10/12 space-y-6 text-center sm:mt-auto sm:w-full sm:text-left">
                    <span class="block text-light-blue">
                        YoungMedScholars empowers high school students passionate about pre-med and science with free resources, internships, and courses to foster growth and prepare future leaders in medicine.
                    </span>
                    <span class="block text-light-blue">
                        Need help? <a href="mailto:youngmedscholar@gmail.com" class="font-semibold text-light-blue">Contact Us</a>
                    </span>
                </div>
                <div class="flex justify-center sm:justify-start">
                    <a href="https://www.instagram.com/youngmedscholar/" class="flex items-center space-x-3 transition hover:text-primary text-light-blue">
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            fill="currentColor"
                            class="w-5"
                            viewBox="0 0 16 16"
                        >
                            <path
                                d="M8 0a8 8 0 0 0-2.915 15.452c-.07-.633-.134-1.606.027-2.297.146-.625.938-3.977.938-3.977s-.239-.479-.239-1.187c0-1.113.645-1.943 1.448-1.943.682 0 1.012.512 1.012 1.127 0 .686-.437 1.712-.663 2.663-.188.796.4 1.446 1.185 1.446 1.422 0 2.515-1.5 2.515-3.664 0-1.915-1.377-3.254-3.342-3.254-2.276 0-3.612 1.707-3.612 3.471 0 .688.265 1.425.595 1.826a.24.24 0 0 1 .056.23c-.061.252-.196.796-.222.907-.035.146-.116.177-.268.107-1-.465-1.624-1.926-1.624-3.1 0-2.523 1.834-4.84 5.286-4.84 2.775 0 4.932 1.977 4.932 4.62 0 2.757-1.739 4.976-4.151 4.976-.811 0-1.573-.421-1.834-.919l-.498 1.902c-.181.695-.669 1.566-.995 2.097A8 8 0 1 0 8 0z"
                            />
                        </svg>
                        <span>Instagram</span>
                    </a>
                </div>
            </div>
        </div>
    </Container>
</footer>
